/* You can add global styles to this file, and also import other style files */
* {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: white;
}

.main {
    display: flex;
    flex-flow: column;
    height: 100%;

    .row.header {
        flex: 0 1 auto;
    }

    .row.content {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    machine-graph-button:last-child .connection-line {
        display: none;
    }
}